force-app/main/default/flows/Send_Email_Buyer_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>case_details</name>
        <label>case details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EmailIsDeliverd</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Send Email Buyer Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email Buyer Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>send_email_to_buyer</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>send_email_to_buyer</name>
        <label>send email to buyer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>case_details</targetReference>
        </connector>
        <flowName>Route_to_Agent</flowName>
        <inputAssignments>
            <name>userQuestion</name>
            <value>
                <elementReference>UserQuestion</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>EmailIsDeliverd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>preChatUserMail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
